<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="site-header">
    <header class="header">
    <div class="container header-container">
        <div class="logo">J.<span> Moranga</span></div>
        <nav class="nav">
            <div class="nav-links">
                <a href="#About" class="nav-links">About</a>
                <a href="#Projects" class="nav-links">Projects</a>
                <a href="#Experiences" class="nav-links">Experiences</a>
                <a href="#Achievemets" class="nav-links">Achievemets</a>
                <a href="#contacts" class="nav-links">Contacts</a>
            </div>
        </nav>
    </div>
    </header>
</th:block>
</html>